################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Source/Backend/Golang/auth/cmd/auth/users.db
Source/Backend/Golang/.vscode/launch.json
